html body {
  color: #1c4370;
  font-weight: lighter;
  font-family: serif;
}
html body * {
  margin: 0;
  padding: 0;
}
html body ul {
  margin: 0;
  padding: 0;
}
html body li {
  list-style: none;
}
html body a {
  text-decoration: none;
}
html body p {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 25px;
}
html body img {
  max-width: 100%;
}
html body h1 {
  font-size: 25px;
}
@media screen and (min-width: 1000px) {
  html body h1 {
    font-size: 40px;
  }
}
html body h2 {
  font-size: 18px;
}
@media screen and (min-width: 1000px) {
  html body h2 {
    font-size: 30px;
  }
}
html body h3 {
  font-size: 18px;
}
@media screen and (min-width: 1000px) {
  html body h3 {
    font-size: 25px;
  }
}
html body h4 {
  font-size: 16px;
}
html body .section {
  margin-bottom: 60px;
}
@media screen and (min-width: 1000px) {
  html body .section {
    margin-bottom: 150px;
  }
}
html body .spinner-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 999;
}
html body .spinner-box .three-quarter-spinner {
  width: 20px;
  height: 20px;
  border: 2px solid #1c4370;
  border-top: 2px solid transparent;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
html body .header {
  position: relative;
  margin: 20px auto 50px;
  padding: 0 50px 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (min-width: 1000px) {
  html body .header {
    align-items: flex-end;
    margin: 50px auto;
    padding: 0 3%;
  }
}
html body .header .reserve-waiting-btn01 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 30px;
  background-color: #fff;
  border: solid 1px #1c4370;
  border-radius: 15px;
}
@media screen and (min-width: 1000px) {
  html body .header .reserve-waiting-btn01:hover {
    background-color: #1c4370;
    opacity: 1;
  }
  html body .header .reserve-waiting-btn01:hover a {
    color: #fff;
  }
}
html body .header .reserve-waiting-btn01 a {
  font-size: 15px;
  letter-spacing: 2px;
  color: #1c4370;
}
html body .header .logo .sabu01-title {
  font-size: 12px;
}
@media screen and (min-width: 1000px) {
  html body .header .logo .sabu01-title {
    display: none;
  }
}
html body .header .logo .main-title {
  margin: 5px 0 0;
  letter-spacing: -2px;
}
html body .header .logo .main-title a {
  color: #1c4370;
}
@media screen and (min-width: 1000px) {
  html body .header .logo .main-title a {
    color: #1c4370;
  }
  html body .header .logo .main-title a:hover {
    opacity: 0.8;
  }
}
html body .header .pc-navi {
  display: none;
}
@media screen and (min-width: 1000px) {
  html body .header .pc-navi {
    display: block;
  }
  html body .header .pc-navi-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15px;
  }
  html body .header .pc-navi-list-item:nth-child(4) .down-menu {
    position: relative;
  }
  html body .header .pc-navi-list-item:nth-child(4) .down-menu.slide-down:hover .down-menu-inner {
    padding-top: 30px;
    opacity: 1;
    z-index: 150;
  }
  html body .header .pc-navi-list-item:nth-child(4) .down-menu-inner {
    position: absolute;
    padding-top: 0px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
  }
  html body .header .pc-navi-list-item:nth-child(4) .down-menu-inner-list {
    padding: 20px;
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 0 rgba(94, 96, 102, 0.3);
  }
  html body .header .pc-navi-list-item:nth-child(4) .down-menu-inner-list-item {
    margin-bottom: 10px;
    padding: 0 5px 10px;
    border-bottom: solid 1px #cccccc;
  }
  html body .header .pc-navi-list-item:nth-child(4) .down-menu-inner-list-item:nth-child(3) {
    margin-bottom: 0;
    padding: 0 5px;
    border-bottom: 0px;
  }
  html body .header .pc-navi-list-item:nth-child(4) .down-menu-inner-list-item a {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  html body .header .pc-navi-list-item.tel {
    position: absolute;
    top: -10px;
    right: 100px;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1000px) {
  html body .header .pc-navi-list-item.tel a {
    font-size: 13px;
  }
  html body .header .pc-navi-list-item.tel a .tel-number {
    padding-left: 10px;
    font-size: 28px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  html body .header .pc-navi-list-item .reserve-waiting-btn01 {
    position: absolute;
    top: -12px;
    right: -20px;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1000px) {
  html body .header .pc-navi-list-item a {
    color: #1c4370;
  }
}
@media screen and (min-width: 1000px) and (min-width: 1000px) {
  html body .header .pc-navi-list-item a:hover:not(.reserve-waiting-btn01 > a) {
    opacity: 0.8;
  }
}
html body .header .reserve-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 20px;
  border: solid 1px #1c4370;
  border-radius: 10px;
}
@media screen and (min-width: 1000px) {
  html body .header .reserve-btn {
    display: none;
  }
}
html body .header .reserve-btn a {
  color: #1c4370;
  font-size: 11px;
  letter-spacing: 1px;
}
html body .header .menu-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(219, 236, 255, 0.6);
  z-index: -1;
  opacity: 0;
  transition: all 0.4s ease;
}
html body .header .menu-open.open {
  opacity: 1;
  z-index: 50;
  transition: all 0.4s ease;
}
@media screen and (min-width: 1000px) {
  html body .header .menu-open.open {
    display: none;
  }
}
html body .header .menu-open-inner {
  width: 75vw;
  height: 100vh;
  background-color: #fff;
}
html body .header .menu-open-inner .main-title {
  margin: 0;
  padding: 20px 15% 0 5%;
  padding: 30;
  font-size: 20px;
  letter-spacing: -2px;
}
html body .header .menu-open-inner .main-title a {
  color: #1c4370;
}
html body .header .menu-open-inner .navi {
  margin: 45px auto 20px;
  width: 60vw;
}
html body .header .menu-open-inner .navi-list-item {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px #cccccc;
}
html body .header .menu-open-inner .navi-list-item .inspection-list {
  margin: 30px 0 15px 20px;
}
html body .header .menu-open-inner .navi-list-item .inspection-list-item {
  margin-bottom: 15px;
}
html body .header .menu-open-inner .navi-list-item .inspection-list-item:last-child {
  margin-bottom: 0px;
}
html body .header .menu-open-inner .navi-list-item .inspection-list-item a {
  font-size: 13px;
}
html body .header .menu-open-inner .navi-list-item a {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  color: #1c4370;
}
html body .header .menu-open-inner .navi-list-item a span {
  font-size: 16px;
}
html body .header .menu-open-inner .address {
  margin: 0 40px;
}
html body .header .menu-open-inner .address-inner {
  line-height: 30px;
}
html body .header .menu-open-inner .address-inner a {
  font-size: 14px;
  font-weight: bold;
  color: #1c4370;
}
html body .header .menu-open-inner .address-inner a span {
  font-size: 22px;
}
html body .header .navi-btn {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  top: 21px;
  right: 20px;
  width: 25px;
  height: 15px;
  transition: all 0.2s ease;
  z-index: 100;
}
@media screen and (min-width: 1000px) {
  html body .header .navi-btn {
    display: none;
  }
}
html body .header .navi-btn span {
  display: inline;
  width: 25px;
  height: 1px;
  background-color: #1c4370;
  transition: all 0.2s ease;
}
html body .header .navi-btn.open span:nth-child(1) {
  transform: rotate(-45deg) translateY(10px);
  transition: all 0.2s ease;
}
html body .header .navi-btn.open span:nth-child(2) {
  opacity: 0;
  transition: all 0.2s ease;
}
html body .header .navi-btn.open span:nth-child(3) {
  transform: rotate(45deg) translateY(-10px);
  transition: all 0.2s ease;
}
html body .main {
  margin-bottom: 100px;
}
html body .main .mv {
  position: relative;
}
html body .main .mv-images {
  margin-bottom: 100px;
  width: 95vw;
  height: calc((90vw - 35px) * 0.798);
  border-radius: 0 40px 0 0;
  z-index: 50;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateX(-100%);
  -webkit-animation: slide-left 0.6s ease-in-out 2s both;
  animation: slide-left 0.6s ease-in-out 2s both;
}
@-webkit-keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@media screen and (min-width: 1000px) {
  html body .main .mv-images {
    height: calc((55vw - 35px) * 0.798);
  }
}
html body .main .mv-title {
  position: absolute;
  margin: 0;
  top: -7%;
  right: 15px;
  letter-spacing: 5px;
  line-height: 35px;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  opacity: 1;
}
@media screen and (min-width: 1000px) {
  html body .main .mv-title {
    top: 8%;
    right: 13%;
    line-height: 60px;
    opacity: 0;
    -webkit-animation: title_slider 0.8s ease-in-out 2.5s both;
    animation: title_slider 0.8s ease-in-out 2.5s both;
  }
  @-webkit-keyframes title_slider {
    0% {
      top: 30%;
      opacity: 0;
    }
    100% {
      top: 8%;
      opacity: 1;
    }
  }
  @keyframes title_slider {
    0% {
      top: 30%;
      opacity: 0;
    }
    100% {
      top: 8%;
      opacity: 1;
    }
  }
}
html body .main .mv .slider {
  position: absolute;
  bottom: 50px;
  left: 3%;
  height: 50px;
  width: 350px;
  overflow: hidden;
  z-index: 10;
}
@media screen and (min-width: 1000px) {
  html body .main .mv .slider {
    top: auto;
    left: auto;
    right: 0%;
    bottom: 103px;
    width: 400px;
    height: 0px;
    background: #fff;
    border-radius: 10px 0 0 0;
    -webkit-animation: slider 0.8s linear 3.5s both;
    animation: slider 0.8s linear 3.5s both;
  }
  @-webkit-keyframes slider {
    0% {
      height: 0px;
    }
    50% {
      height: 0;
    }
    100% {
      height: 60px;
    }
  }
  @keyframes slider {
    0% {
      height: 0px;
    }
    50% {
      height: 0;
    }
    100% {
      height: 60px;
    }
  }
}
html body .main .mv .slider .slide-news-item {
  display: flex;
  align-items: center;
  margin: 0;
  height: 50px;
}
@media screen and (min-width: 1000px) {
  html body .main .mv .slider .slide-news-item {
    height: 60px;
  }
}
html body .main .mv .slider .slide-news-item a {
  font-size: 12px;
  color: #1c4370;
}
@media screen and (min-width: 1000px) {
  html body .main .mv .slider .slide-news-item a {
    font-size: 15px;
    padding-left: 15px;
  }
  html body .main .mv .slider .slide-news-item a:hover {
    opacity: 0.8;
  }
  html body .main .mv .slider .slide-news-item a span {
    font-size: 12px;
  }
}
html body .main .mv .slide_in {
  position: absolute;
  display: none;
  font-size: 15px;
  letter-spacing: 2px;
  top: 8%;
  right: 2%;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  -webkit-animation: slide_in 1.2s ease-in-out 2.5s both;
  animation: slide_in 1.2s ease-in-out 2.5s both;
  opacity: 0;
}
@-webkit-keyframes slide_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 1000px) {
  html body .main .mv .slide_in {
    display: block;
  }
}
html body .main #thought {
  margin: 0 auto 80px;
  padding: 0 8%;
}
@media screen and (min-width: 1000px) {
  html body .main #thought {
    padding: 0 15%;
    display: flex;
    flex-direction: row-reverse;
  }
}
html body .main #thought .title {
  margin: 0 auto 40px;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 3px;
}
@media screen and (min-width: 1000px) {
  html body .main #thought .title {
    margin: 0;
    font-size: 35px;
    letter-spacing: 3px;
    line-height: 50px;
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
  }
}
html body .main #thought .text {
  margin: 0 auto 40px;
}
@media screen and (min-width: 1000px) {
  html body .main #thought .text {
    margin-top: 30px;
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
  }
}
html body .main #thought .text-item .indention {
  display: none;
}
@media screen and (min-width: 1000px) {
  html body .main #thought .text-item {
    margin: 0;
    padding-left: 30px;
    font-size: 17px;
    line-height: 35px;
  }
  html body .main #thought .text-item:last-child {
    padding-left: 0;
  }
  html body .main #thought .text-item .indention {
    display: block;
  }
}
html body .main #thought .invisible-cause-btn {
  display: flex;
  justify-content: flex-end;
}
html body .main #thought .invisible-cause-btn a {
  font-size: 18px;
  color: #1c4370;
}
@media screen and (min-width: 1000px) {
  html body .main #thought .invisible-cause-btn a {
    margin-top: 30px;
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
  }
}
html body .main #thought .invisible-cause-btn a span {
  margin-right: 5px;
  font-size: 13px;
  border-bottom: solid 1px #1c4370;
}
@media screen and (min-width: 1000px) {
  html body .main #thought .invisible-cause-btn a span {
    padding-bottom: 10px;
    border-bottom: 0px;
  }
}
html body .main #news {
  margin: 0 auto 60px;
  width: 90%;
}
@media screen and (min-width: 1000px) {
  html body .main #news {
    margin: 0 auto 150px;
    width: 75%;
  }
}
html body .main #news .news-list-item {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #cccccc;
  transition: all 0.1s linear;
  cursor: pointer;
}
@media screen and (min-width: 1000px) {
  html body .main #news .news-list-item:hover {
    opacity: 0.8;
  }
  html body .main #news .news-list-item:hover:nth-child(2) {
    opacity: 1;
  }
}
html body .main #news .news-list-item:nth-child(1) {
  padding-top: 20px;
  border-top: solid 1px #cccccc;
}
html body .main #news .news-list-item.active .open-btn div:first-child {
  transform: rotate(380deg);
  transition: all 0.3s linear;
}
html body .main #news .news-list-item.active .open-btn div:last-child {
  transform: rotate(340deg);
  transition: all 0.3s linear;
}
html body .main #news .news-list-item:nth-child(2) {
  cursor: auto;
}
html body .main #news .news-list-item:nth-child(2) p {
  margin-bottom: 0;
}
html body .main #news .news-list-item .date {
  display: block;
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 12px;
}
@media screen and (min-width: 1000px) {
  html body .main #news .news-list-item .date {
    display: inline;
    padding-right: 20px;
    font-size: 14px;
  }
}
html body .main #news .news-list-item .title {
  display: inline;
  margin: 0;
  padding-left: 20px;
}
@media screen and (min-width: 1000px) {
  html body .main #news .news-list-item .title {
    font-size: 16px;
  }
}
html body .main #news .news-list-item .open-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  right: 5%;
  transform: translateY(-30px);
  cursor: pointer;
  transition: all 0.3s linear;
}
@media screen and (min-width: 1000px) {
  html body .main #news .news-list-item .open-btn {
    width: 25px;
    height: 25px;
    right: 3%;
    transform: translateY(-25px);
  }
}
html body .main #news .news-list-item .open-btn div {
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: #1c4370;
  transition: all 0.3s linear;
}
@media screen and (min-width: 1000px) {
  html body .main #news .news-list-item .open-btn div {
    width: 25px;
  }
}
html body .main #news .news-list-item .open-btn div:first-child {
  transform: rotate(90deg);
}
html body .main #news .news-list-item-inner {
  display: block;
  transform: translateY(10px);
  padding-left: 20px;
  font-size: 12.5px;
  line-height: 20px;
  visibility: visible;
  opacity: 1;
  z-index: 10;
}
@media screen and (min-width: 1000px) {
  html body .main #news .news-list-item-inner {
    font-size: 14px;
  }
}
html body .main #news .news-list-item .has-chiled {
  display: none;
  visibility: visible;
  opacity: 1;
}
html body .main #institution-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 100px;
  width: 97%;
}
@media screen and (min-width: 1000px) {
  html body .main #institution-images {
    width: 80%;
  }
}
html body .main #institution-images img {
  margin-bottom: 2%;
  width: 49%;
}
html body .main #inspection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
html body .main #inspection .section-title-jp {
  margin: 0 0 15px;
  letter-spacing: 3px;
}
html body .main #inspection .section-title-lo {
  margin-bottom: 40px;
  font-size: 10px;
  letter-spacing: 1px;
}
@media screen and (min-width: 700px) {
  html body .main #inspection .section-title-lo {
    font-size: 13px;
  }
}
html body .main #inspection .section-inner {
  margin: auto;
  width: 100%;
  background-color: #dbecff;
}
html body .main #inspection .section-inner-text {
  margin: 30px auto;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  html body .main #inspection .section-inner-text .indention {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  html body .main #inspection .section-inner-text {
    margin: 50px auto;
    font-size: 23px;
    line-height: 40px;
  }
}
html body .main #inspection .section-inner-box {
  margin: 0 5% 25px;
  background-color: #fff;
  border: solid 1px #cccccc;
  border-radius: 5px;
}
@media screen and (min-width: 700px) {
  html body .main #inspection .section-inner-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
html body .main #inspection .section-inner-box-item {
  display: flex;
  align-items: center;
  margin: 15px;
  padding-bottom: 15px;
  color: #1c4370;
  border-bottom: dashed 1px #cccccc;
}
@media screen and (min-width: 700px) {
  html body .main #inspection .section-inner-box-item {
    flex-direction: column;
    margin: 40px 20px 40px 0;
    padding: 0 20px 0 0;
    width: 28%;
    border-bottom: 0;
    border-right: dashed 1px #cccccc;
  }
  html body .main #inspection .section-inner-box-item:last-child {
    margin: 40px 0;
    padding: 0;
    border-right: 0px;
  }
}
html body .main #inspection .section-inner-box-item:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
html body .main #inspection .section-inner-box-item img {
  margin-right: 20px;
  width: 100px;
}
html body .main #inspection .section-inner-box-item img:hover {
  opacity: 0.8;
}
@media screen and (min-width: 700px) {
  html body .main #inspection .section-inner-box-item img {
    margin: 0 0 26px 0;
    width: 100%;
  }
}
html body .main #inspection .section-inner-box-item-title {
  color: #1c4370;
}
@media screen and (min-width: 700px) {
  html body .main #inspection .section-inner-box-item-title {
    text-align: center;
  }
}
html body .main #inspection .section-inner-box-item-title:hover {
  opacity: 0.8;
}
html body .main #inspection .section-inner-box-item-title .title-jp {
  margin: 0 0 5px;
  font-size: 14px;
  font-weight: 2px;
}
@media screen and (min-width: 700px) {
  html body .main #inspection .section-inner-box-item-title .title-jp {
    margin: 0 0 16px;
  }
}
html body .main #inspection .section-inner-box-item-title .title-lo {
  font-size: 7px;
  letter-spacing: 2px;
}
html body .main #inspection .section-inner-box-item .inspection_contents-btn {
  position: relative;
  display: none;
  margin-top: 26px;
}
@media screen and (min-width: 700px) {
  html body .main #inspection .section-inner-box-item .inspection_contents-btn {
    display: block;
  }
  html body .main #inspection .section-inner-box-item .inspection_contents-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26.0416666667vw;
    height: 50px;
    border: solid 1px #cccccc;
    border-radius: 25px;
    font-size: 16px;
    color: #1c4370;
  }
  html body .main #inspection .section-inner-box-item .inspection_contents-btn a:hover {
    color: #fff;
    background: #1c4370;
    border: solid 1px #1c4370;
  }
  html body .main #inspection .section-inner-box-item .inspection_contents-btn a span {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    font-size: 25px;
  }
  html body .main #inspection .section-inner-box-item .inspection_contents-btn a span:hover {
    color: #fff;
  }
}
@media screen and (min-width: 700px) and (max-width: 950px) {
  html body .main #inspection .section-inner-box-item .inspection_contents-btn a span {
    display: none;
  }
}
html body .main .pc_images {
  display: none;
}
@media screen and (min-width: 1000px) {
  html body .main .pc_images {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
html body .main .pc_images img {
  width: 33%;
  -o-object-fit: cover;
     object-fit: cover;
}
html body .main #time_zone .time_zone-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1%;
  margin: 0 auto 25px;
  width: 88%;
}
@media screen and (min-width: 1000px) {
  html body .main #time_zone .time_zone-images {
    width: 80%;
  }
}
html body .main #time_zone .time_zone-images img:first-child {
  width: 69%;
  -o-object-fit: cover;
     object-fit: cover;
}
html body .main #time_zone .time_zone-images img:last-child {
  width: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}
html body .main #time_zone .time_zone-inner {
  margin: 0 auto;
  width: 88%;
}
@media screen and (min-width: 1000px) {
  html body .main #time_zone .time_zone-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 75%;
  }
}
html body .main #time_zone .time_zone-inner-left {
  margin-bottom: 60px;
  letter-spacing: 2px;
}
@media screen and (min-width: 700px) {
  html body .main #time_zone .time_zone-inner-left {
    width: 70%;
  }
}
@media screen and (min-width: 1000px) {
  html body .main #time_zone .time_zone-inner-left {
    margin-bottom: 0px;
    width: 47%;
  }
}
html body .main #time_zone .time_zone-inner-left-sabu01-title {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
}
@media screen and (min-width: 1000px) {
  html body .main #time_zone .time_zone-inner-left-sabu01-title {
    display: inline;
  }
}
html body .main #time_zone .time_zone-inner-left-sabu02-title {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
}
@media screen and (min-width: 1000px) {
  html body .main #time_zone .time_zone-inner-left-sabu02-title {
    display: inline;
    font-size: 13px;
  }
}
html body .main #time_zone .time_zone-inner-left-sabu02-title i {
  display: none;
}
@media screen and (min-width: 1000px) {
  html body .main #time_zone .time_zone-inner-left-sabu02-title i {
    display: inline;
  }
}
html body .main #time_zone .time_zone-inner-left-main-title {
  margin: 0 0 15px;
  letter-spacing: -2px;
}
@media screen and (min-width: 1000px) {
  html body .main #time_zone .time_zone-inner-left-main-title {
    margin: 10px 0 15px;
  }
}
html body .main #time_zone .time_zone-inner-left-table {
  margin-bottom: 16px;
  width: 100%;
  border-collapse: collapse;
}
@media screen and (min-width: 1000px) {
  html body .main #time_zone .time_zone-inner-left-table {
    margin-bottom: 0px;
  }
}
html body .main #time_zone .time_zone-inner-left-table tr {
  height: 50px;
  font-size: 12px;
  border-bottom: solid 1px #cccccc;
}
html body .main #time_zone .time_zone-inner-left-table tr:first-of-type {
  border-top: solid 1px #cccccc;
}
html body .main #time_zone .time_zone-inner-left-table tr th {
  padding: 10px;
  font-size: 13px;
  text-align: center;
  font-weight: lighter;
}
html body .main #time_zone .time_zone-inner-left-table tr th:first-of-type {
  padding-left: 0px;
  line-height: 16px;
}
html body .main #time_zone .time_zone-inner-left-table tr td {
  position: relative;
  font-size: 10px;
  text-align: center;
}
html body .main #time_zone .time_zone-inner-left-table tr td:first-of-type {
  font-size: 13px;
  line-height: 16px;
}
html body .main #time_zone .time_zone-inner-left-table tr td b {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15%;
  left: 0;
  width: 70px;
  height: 35px;
  font-size: 10px;
  background-color: #dbecff;
  border-radius: 5px;
}
html body .main #time_zone .time_zone-inner-left-table tr span {
  display: block;
  font-size: 6px;
}
html body .main #time_zone .time_zone-inner-left .caution-text01 {
  margin: 0;
  padding-left: 10px;
  font-size: 12px;
}
@media screen and (min-width: 1000px) {
  html body .main #time_zone .time_zone-inner-left .caution-text01 {
    display: none;
  }
}
html body .main #time_zone .time_zone-inner-right {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 1000px) {
  html body .main #time_zone .time_zone-inner-right {
    width: 47%;
  }
}
html body .main #time_zone .time_zone-inner-right-title {
  margin: 0 0 20px;
}
@media screen and (min-width: 1000px) {
  html body .main #time_zone .time_zone-inner-right-title {
    margin: 30px 0 15px;
  }
}
html body .main #time_zone .time_zone-inner-right-text {
  margin: 0 auto 30px;
  width: 100%;
}
@media screen and (min-width: 1000px) {
  html body .main #time_zone .time_zone-inner-right-text {
    margin: 0 auto 17px;
  }
}
html body .main #time_zone .time_zone-inner-right-list {
  margin: 0 20px 30px 15px;
  padding-left: 15px;
  border-left: solid 1px #cccccc;
}
@media screen and (min-width: 1000px) {
  html body .main #time_zone .time_zone-inner-right-list {
    margin: 0 20px 17px 15px;
  }
}
html body .main #time_zone .time_zone-inner-right-list:last-of-type {
  margin: 0 0 30px 15px;
}
@media screen and (min-width: 1000px) {
  html body .main #time_zone .time_zone-inner-right-list:last-of-type {
    margin: 0 0 17px 15px;
  }
}
html body .main #time_zone .time_zone-inner-right-list-item {
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 20px;
}
@media screen and (min-width: 1000px) {
  html body .main #time_zone .time_zone-inner-right-list-item br {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  html body .main #time_zone .time_zone-inner-right-list-item br {
    display: block;
  }
}
html body .main #time_zone .time_zone-inner-right-list-item:last-child {
  padding-bottom: 0px;
}
html body .main #time_zone .time_zone-inner-right .caution-text01,
html body .main #time_zone .time_zone-inner-right .caution-text02 {
  width: 100%;
  margin: 0;
  padding-left: 10px;
  font-size: 12px;
}
html body .main #time_zone .time_zone-inner-right .caution-text01:first-of-type,
html body .main #time_zone .time_zone-inner-right .caution-text02:first-of-type {
  display: none;
}
@media screen and (min-width: 1000px) {
  html body .main #time_zone .time_zone-inner-right .caution-text01 br,
html body .main #time_zone .time_zone-inner-right .caution-text02 br {
    display: none;
  }
}
html body .main #time_zone .time_zone-inner-right .caution-text01 {
  display: none;
}
@media screen and (min-width: 1000px) {
  html body .main #time_zone .time_zone-inner-right .caution-text01 {
    display: block;
  }
}
html body .main #map-waiting {
  margin: 0 auto;
  width: 88%;
}
@media screen and (min-width: 1000px) {
  html body .main #map-waiting {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
}
html body .main #map-waiting .map {
  order: 2;
  position: relative;
  padding-bottom: 20px;
}
@media screen and (min-width: 1000px) {
  html body .main #map-waiting .map {
    padding-bottom: 0px;
    width: 47%;
    height: auto;
  }
}
html body .main #map-waiting .map iframe {
  width: 100%;
  height: 280px;
}
html body .main #map-waiting .map .search-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10%;
  right: 2%;
  width: 135px;
  height: 40px;
  background-color: #1c4370;
  border-radius: 20px;
}
html body .main #map-waiting .map .search-btn a {
  font-size: 13px;
  letter-spacing: 2px;
  color: #fff;
}
html body .main #map-waiting .map .search-btn a span {
  padding-left: 10px;
}
html body .main #map-waiting .map .search-btn a:hover {
  opacity: 0.8;
}
html body .main #map-waiting .waiting {
  order: 1;
  background-color: #dbecff;
}
@media screen and (min-width: 1000px) {
  html body .main #map-waiting .waiting {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47%;
  }
}
html body .main #map-waiting .waiting-inner {
  padding: 27px 30px;
}
@media screen and (min-width: 1000px) {
  html body .main #map-waiting .waiting-inner {
    padding: 0 30px;
  }
}
html body .main #map-waiting .waiting-inner-title {
  display: inline;
  margin: 0 0 13px;
  font-weight: lighter;
  border-bottom: solid 1px #cccccc;
}
html body .main #map-waiting .waiting-inner-caution-text {
  margin: 0;
  font-size: 12px;
}
html body .footer {
  position: relative;
  margin: 0 auto;
  width: 88%;
}
@media screen and (min-width: 1000px) {
  html body .footer {
    display: flex;
    align-items: flex-end;
    margin: 0 auto 50px 50px;
    width: 90%;
    gap: 40px;
  }
}
html body .footer small {
  padding-bottom: 30px;
  font-size: 8px;
}
html body .footer .footer-left .sabu01-title {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
}
html body .footer .footer-left .sabu02-title {
  display: block;
  margin-bottom: 20px;
  font-size: 12px;
}
html body .footer .footer-left .main-title {
  margin: 0 0 20px;
  font-size: 20px;
  letter-spacing: -2px;
}
html body .footer .footer-left .footer-left-text {
  display: none;
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 30px;
}
@media screen and (min-width: 1000px) {
  html body .footer .footer-left .footer-left-text {
    display: block;
  }
}
html body .footer .footer-left small {
  display: none;
}
@media screen and (min-width: 1000px) {
  html body .footer .footer-left small {
    display: block;
    padding-bottom: 0;
  }
}
html body .footer .footer-center .reserve-waiting-btn02 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  width: 150px;
  height: 30px;
  background-color: #1c4370;
  border-radius: 15px;
}
html body .footer .footer-center .reserve-waiting-btn02:hover {
  opacity: 0.8;
}
html body .footer .footer-center .reserve-waiting-btn02 a {
  font-size: 13px;
  letter-spacing: 2px;
  color: #fff;
}
html body .footer .footer-center .reserve-waiting-btn02 a span {
  padding-left: 10px;
}
html body .footer .footer-center .reserve-waiting-text {
  margin-bottom: 15px;
}
html body .footer .footer-center .reserve-waiting-text span {
  padding-bottom: 2px;
  border-bottom: solid 1px #1c4370;
}
html body .footer .footer-center .address {
  font-size: 12px;
}
html body .footer .footer-center .address .holiday {
  display: none;
}
@media screen and (min-width: 1000px) {
  html body .footer .footer-center .address .holiday {
    display: block;
  }
}
@media screen and (min-width: 1000px) {
  html body .footer .footer-center .address .indention {
    display: none;
  }
}
html body .footer .footer-center .address a {
  font-size: 14px;
  font-weight: bold;
  color: #1c4370;
}
html body .footer .footer-center .address a span {
  font-size: 22px;
}
html body .footer .footer-center small {
  padding-bottom: 50px;
  font-size: 8px;
}
@media screen and (min-width: 1000px) {
  html body .footer .footer-center small {
    display: none;
  }
}
html body .footer .footer-right {
  display: none;
}
@media screen and (min-width: 1000px) {
  html body .footer .footer-right {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
html body .footer .footer-right-list-item {
  margin-bottom: 15px;
  position: relative;
}
html body .footer .footer-right-list-item:last-child {
  margin-bottom: 0px;
}
html body .footer .footer-right-list-item::before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: -5%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 1px;
  background: #1c4370;
}
html body .footer .page_top-btn {
  position: absolute;
  bottom: 0px;
  right: -5%;
  font-size: 35px;
  font-weight: lighter;
  cursor: pointer;
}
html body .footer .page_top-btn:hover {
  opacity: 0.8;
}/*# sourceMappingURL=style.css.map */
